.breadcrumbs__list {
    display: flex;
    align-items: center;
    width: 100%;
}

.breadcrumbs__item {
    font-family: 'Gotham Pro';
    font-size: 14px;
    font-weight: lighter;
    font-style: italic;
    margin-right: 4px;
    color: #221f1f;
}

.breadcrumbs__link {
    text-decoration: none;
    color: #ec1e79;
}

.breadcrumbs__item:after {
    content: '/';
    margin-left: 2px;
    vertical-align: bottom;
    color: #221f1f;
}

.breadcrumbs__item:last-child:after {
    display: none;
}

.breadcrumbs__link--unactive {
    color: #221f1f;
}