body {
    font-family: 'Gotham Pro', sans-serif;
    color: black;
    margin: 0;
    font-size: 16px;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

ul > li {
    list-style: none;
}

.header {
    background: #27273e;
    width: 100%;
    margin: 0;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

.header__container {
    margin-top: 0;
    min-height: 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts {
    text-align: right;
    font-style: normal;
    font-weight: bold;
}

.contacts__phone {
    color: white;
    font-size: 21px; 
    text-decoration: none;
    text-transform: uppercase;
}

.contacts__schedule {  
    font-size: 14px;
    font-family: "Open Sans";
    color: rgba(236, 30, 121, 0.702);
    text-decoration: underline; 
}

.billboard {
    background: #27273e;
    width: 100%;
    margin: 0 0 68px 0;
}

.page__container {
    display: flex;
    justify-content: space-between;
}

.sidebar {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.content {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.menu__item {
    margin-bottom: 33px;
}

.menu__item:last-child {
    margin-bottom: 0;
}

.menu__item-text {
    color: #ec1e79;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1.2px;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
}

.menu__item-text:hover {
    color: black;
}

.menu__item-text--unactive {
    color: black;
}

.menu__item-text:before {
    content: '';
    display: inline-flex;
    width: 20px;
    height: 18px;
    margin-right: 17px;
    background: center center no-repeat;
    vertical-align: bottom;
}

.menu__item-text--main:before {
    background-image: url(../img/main_icon_black.png);
}

.menu__item-text--review:before {
    background-image: url(../img/reveiw_icon_pink.png);
}

.menu__item-text--review:hover:before {
    background-image: url(../img/reveiw_icon_black.png);
}

.menu__item-text--price:before {
    background-image: url(../img/price_icon_pink.png);
}

.menu__item-text--price:hover:before {
    background-image: url(../img/price_icon_black.png);
}

.section-title {
    font-size: 49px;
    color: #221f1f;
    font-weight: bold;
    margin-bottom: 64px;
}

.features {
    margin-bottom: 68px;
}

.features__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.features__item {
    width: 30%;
    text-align: center;
    vertical-align: top;
    margin: 0 3% 0 0;
}

.features__item:last-child {
    margin-right: 0;
}

.features__img {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 36px;
    background: center no-repeat #27273e;
    position: relative;
}

.img__logo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.features__subtitle {
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    margin-bottom: 28px;
}

.features__description {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 28px;
    font-weight: normal;
}

.features__profit-list {
    font-weight: normal;
}

.profit__list-item {
    text-align: left;
    margin-bottom: 10px;
    margin-left: 10px;
}

.profit__list-item:before {
    content: '•';
    color: #ec1e79;
    display: inline-flex;
    margin-right: 30px;
}

.news__list {
    margin-bottom: 75px;
}

.news .section-title {
    margin-bottom: 75px;
}

.news__item {
    display: flex;
    border-bottom: 1px solid #f5f5f5;
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    align-items: center;
}

.news__item:first-child {
    padding-top: 0;
}

.news__item:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}


.news__item-picture {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: middle;
    margin-right: 18px;
}

.news__item-img {
    max-width: 100%;
    display: block;
    margin-bottom: 0;
}

.news__item-description {
    width: 75%;
    vertical-align: middle;
}

.news__item-date {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: lighter;
    line-height: 21px;
    margin-bottom: 14px;    
}

.news__item-subtitle {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
}

.news__item-text {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}

.pagination {
	font-size: 14px;
	justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 75px;
}

.pagination__control {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.pagination__list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination__pages {
	margin-right: 20px;
}

.pagination__prev {
    color: #27273e;
    text-decoration: none;
    margin-right: 15px;
}

.pagination__item {
    margin-right: 8px;
    font-weight: 700;
    background: white;
    border-radius: 4px;
}

.pagination__item:last-child {
    margin-right: 0;
}

.pagination__item--active {
    background: #27273e;
}

.pagination__item:hover {
    background: #27273e;
}

.pagination__item-link {
    display: block;
    color: #27273e;
    padding: 7px 11px;
    text-decoration: none;
}

.pagination__link--active {
    color: white;
}

.pagination__item-link:hover {
    color: white;
}

.pagination__next {
    color: #27273e;
    text-decoration: none;
    margin-left: 15px;
}

.footer {
    background: #27273e;
    width: 100%;
    margin-bottom: 0;
}

.footer__container {
    min-height: 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.madeby {
    color: white;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    width: 25%;
}

.social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    width: 25%;
}

.social__title {
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
}

.social__list-item {
    display: inline-flex;
}

.social__icon {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    color: #d4d4d8;
    background: center no-repeat #d4d4d8;
    position: relative;
}

.social__icon:hover {
    background: #ec1e79;
}

.social__logo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}