.discount {
    background: url(../../img/break.jpg) center center / cover no-repeat;
    padding: 30px 10px;
    text-align: center;
    margin-bottom: 30px;
}

.discount__text {
    font-family: 'Gotham Pro';
    font-size: 18px;
    line-height: 30px;
    font-weight: lighter;
    color: #fff;
}

.discount__pink {
    color: #ec1e79;
}