.discount {
    background: url(../../img/break.jpg) center center no-repeat;
}

.discount__text {
    font-family: 'Gotham Pro';
    font-size: 18px;
    line-height: 30px;
    font-weight: lighter;
    color: #fff;
}

.discount__pink {
    color: #ec1e79;
}