.features {
    border: 1px solid #e8e9ed;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.features__title {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.features__subtitle {
    font-size: 11px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    margin-bottom: 28px;
}

.features__description {
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
    font-style: normal;
}

.features__profit-list {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
}

.profit__list-item {
    text-align: left;
    margin-bottom: 10px;
    margin-left: 10px;
}

.profit__list-item:before {
    content: '•';
    color: #ec1e79;
    display: inline-flex;
    margin-right: 30px;
}