.form {
    max-width: 766px;
    background: #f5f5f5;
    border-radius: 5px;
    padding: 50px 100px;
}

.form__title {
    font-size: 49px;
    color: #221f1f;
    font-weight: bold;
    margin-bottom: 0;
    margin-bottom: 30px;
}

.form__row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 41px;
}

.form__block {
    margin-right: 23px;
    flex: 1;
}

.form__block:last-child {
    margin-right: 0;
}

.form__block-title {
    font-family: 'Gotham Pro';
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 10px;
}

.form__input {
    padding: 15px 9px;
    background: white;
    border: none;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    border: 1px solid transparent;
}

.form__input:focus {
    border-color: #ec1e79;
}

.form__input-textarea {
    resize: vertical;
    min-height: 90px;
    padding: 9px;
}

.form__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: 0;
}

.form__radio-question {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 15px;
}

.form__radio-answer {
    display: flex;
}

.form__radio-yesorno {
    display: flex;
    margin-right: 20px;
}

.form__radio-input {
    -webkit-appearance: none;
    appearance: none;
}

.input__fake {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #cbcbcb;
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.form__radio-input:checked + .input__fake {
    border: 1px solid #ec1e79;
}

.input__fake:before {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: block;
}

.form__radio-input:checked + .input__fake:before {
    background-color: #ec1e79;
}

.form__btn {
    width: 140px;
    height: 45px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    background-color: #27273e;
    color: #fff;
    border: 1px solid #27273e;
    border-radius: 5px;
}

.form__btn:hover {
    background-color: #ec1e79;
    border: 1px solid #ec1e79;
    cursor: pointer;
}