.header__common {
    background: #27273e;
    width: 100%;
    margin: 0;
    margin-bottom: 68px;
}

.header__mainpage {
    background: #27273e;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__container {
    margin-top: 0;
    min-height: 77px;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}