.menu__item-text--main:before {
    background-position: -90px -45px;
}

.menu__item-text--main:hover:before {
    background-position: -90px -10px;
}

.menu__item-text--review:before {
    background-position: -10px -10px;
}

.menu__item-text--price:before {
    background-position: -49px -48px;
}

.menu__item-text--price:hover:before {
    background-position: -10px -48px;
}