.menu {
    width: 70%;
}

.menu__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu__item {
    display: flex;
    align-items: center;
    margin-right: 95px;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__item-text {
    color: #ec1e79;
    font-size: 12px;
    letter-spacing: 1.2px;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.menu__item-text.menu__item-text--active {
    color: black;
}

.menu__item-text:hover {
    color: black;
}

.menu__item-text:before {
    content: '';
    display: flex;
    width: 20px;
    height: 18px;
    margin-right: 17px;
    background: url(../../img/sidebar_sprites.png) center center no-repeat;
    vertical-align: bottom;
}

.menu__item--main:before {
    background-position: -90px -45px;
}

.menu__item--main:hover:before {
    background-position: -90px -10px;
}

.menu__item--review:before {
    background-position: -50px -10px;
}

.menu__item--review:hover:before {
    background-position: -10px -10px;
}

.menu__item--review-active:before {
    background-position: -10px -10px;
}

.menu__item--price:before {
    background-position: -49px -48px;
}

.menu__item--price:hover:before {
    background-position: -10px -48px;
}

.menu__item--price-active:before {
    background-position: -10px -48px;
}