.menu__item {
    margin-bottom: 33px;
}

.menu__item:last-child {
    margin-bottom: 0;
}

.menu__item-text {
    color: #ec1e79;
    font-size: 12px;
    letter-spacing: 1.2px;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
}

.menu__item-text:hover {
    color: black;
}

.menu__item-text--unactive {
    color: black;
}

.menu__item-text:before {
    content: '';
    display: inline-flex;
    width: 20px;
    height: 18px;
    margin-right: 17px;
    background: center center no-repeat;
    vertical-align: bottom;
}