.social__title {
    color: black;
    font-size: 14px;
    margin-bottom: 8px;
}

.social__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social__icon {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    color: #d4d4d8;
    background: center no-repeat #d4d4d8;
    position: relative;
}

.social__icon:last-child {
    margin-right: 0;
}

.social__icon:hover {
    background: #ec1e79;
}

.social__logo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}